<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.persistent.dao.RaffleActivityOrderMapper">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.persistent.po.RaffleActivityOrder">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="sku" column="sku" />
            <result property="activityId" column="activity_id" />
            <result property="activityName" column="activity_name" />
            <result property="strategyId" column="strategy_id" />
            <result property="orderId" column="order_id" />
            <result property="orderTime" column="order_time" />
            <result property="totalCount" column="total_count" />
            <result property="dayCount" column="day_count" />
            <result property="monthCount" column="month_count" />
            <result property="state" column="state" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,sku,activity_id,activity_name,strategy_id,
        order_id,order_time,total_count,day_count,month_count,
        state,create_time,update_time
    </sql>
    <select id="queryUnpaidActivityOrder"
            resultType="com.liubo.infrastructure.persistent.po.RaffleActivityOrder">
        select user_id, order_id, out_business_no, pay_amount
        from raffle_activity_order
        where user_id = #{userId}
          and sku = #{sku}
          and state = 'wait_pay'
          and order_time >= NOW() - INTERVAL 1 MONTH
            limit 1

    </select>
</mapper>
