<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.persistent.dao.StrategyAwardMapper">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.persistent.po.StrategyAward">
        <id property="id" column="id"/>
        <result property="strategyId" column="strategy_id"/>
        <result property="awardId" column="award_id"/>
        <result property="awardTitle" column="award_title"/>
        <result property="awardSubtitle" column="award_subtitle"/>
        <result property="awardCount" column="award_count"/>
        <result property="awardCountSurplus" column="award_count_surplus"/>
        <result property="awardRate" column="award_rate"/>
        <result property="ruleModels" column="rule_models"/>
        <result property="sort" column="sort"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,strategy_id,award_id,award_title,award_subtitle,award_count,
        award_count_surplus,award_rate,rule_models,sort,create_time,
        update_time
    </sql>

    <update id="updateStrategyAwardStock" parameterType="com.liubo.infrastructure.persistent.po.StrategyAward">
        update strategy_award
        set award_count_surplus = award_count_surplus - 1
        where strategy_id = #{strategyId} and award_id = #{awardId} and award_count_surplus > 0
    </update>

</mapper>
