<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.persistent.dao.UserCreditAccountMapper">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.persistent.po.UserCreditAccount">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="availableAmount" column="available_amount"/>
        <result property="accountStatus" column="account_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,total_amount,available_amount,account_status,create_time,
        update_time
    </sql>
    <update id="updateAddAmount" parameterType="com.liubo.infrastructure.persistent.po.UserCreditAccount">
        update user_credit_account
        set total_amount     = total_amount + #{totalAmount},
            available_amount = available_amount + #{availableAmount}
        where user_id = #{userId}
    </update>

</mapper>
