<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.persistent.dao.UserCreditOrderMapper">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.persistent.po.UserCreditOrder">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="orderId" column="order_id" />
            <result property="tradeName" column="trade_name" />
            <result property="tradeType" column="trade_type" />
            <result property="tradeAmount" column="trade_amount" />
            <result property="outBusinessNo" column="out_business_no" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_id,trade_name,trade_type,trade_amount,
        out_business_no,create_time,update_time
    </sql>
</mapper>
