<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liubo.infrastructure.persistent.dao.UserBehaviorRebateOrderMapper">

    <resultMap id="BaseResultMap" type="com.liubo.infrastructure.persistent.po.UserBehaviorRebateOrder">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="orderId" column="order_id" />
            <result property="behaviorType" column="behavior_type" />
            <result property="rebateDesc" column="rebate_desc" />
            <result property="rebateType" column="rebate_type" />
            <result property="rebateConfig" column="rebate_config" />
            <result property="bizId" column="biz_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_id,behavior_type,rebate_desc,rebate_type,
        rebate_config,biz_id,create_time,update_time
    </sql>
</mapper>
